@import "../../../../assets/theme/_var.scss";

.no_chats {
    padding: 200px;
    background-color: #ccc;
    margin-left: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 10px;
}